*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;}
    .container {
      position: relative;
      width: max-content;
    }
    
    .cobridor {
      position: absolute;
      margin-top: 20px;
      margin-left: -525px;
      width: 10px;
      height: 50px;
      background-color: #fff9ea;
      z-index: 4;
      transition: width 2s ease;
    }
    
    #todos:checked ~ .cobridor {
      width: 26%;
    }
    #todos:checked + label .green{
      display: inline;
    }
    #todos:checked + label .red{
      display: none;
    }
    #aventura:checked + label .green{
      display: inline;
    }
    #aventura:checked + label .red{
      display: none;}
    
      #terror:checked + label .green{
        display: inline;
      }
      #terror:checked + label .red{
        display: none;}
    
        #comedia:checked + label .green{
          display: inline;
        }
        #comedia:checked + label .red{
          display: none;}
    
    
    .green{
      padding-right: 4px;
      position: relative;
      top: 2px;
      display: none;
    }
    .red{
      position: relative;
      top: 2px;
    }
    .filme {
      margin-top: 20px;
      display: none;
      overflow: hidden;
    }
    
    #filtros{
      width: 100%;
      margin-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    .filmes{
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-direction: column;
      align-items: center;
    }
    
    #filtros:has(input#todos:checked) ~ .filmes .filme{
      display: inline;
    }
    
    #filtros:has(input#terror:checked) ~ .filmes #filme1,
    #filtros:has(input#terror:checked) ~ .filmes #filme2,
    #filtros:has(input#terror:checked) ~ .filmes #filme3 {
      display: inline;
    }
    
    input{display: none;}
    
    #terror:checked + label{
      font-weight: bold;
      padding: 10px;
      border: 4px solid #44423d;
      background-color: #ff9159;
    }
    
    #terror + label{
      border-radius: 12px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      border: 4px solid #ff9159;
      transition: background-color 1s ease-in-out, border 1s ease !important;
    }
    
    #aventura:checked + label{
      font-weight: bold;
      padding: 10px;
      border: 4px solid #44423d;
      background-color: #ff9159;
    }
    
    #aventura + label{
      border-radius: 12px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      border: 4px solid #ff9159;
      transition: background-color 1s ease-in-out, border 1s ease !important;
    }
    
    #comedia:checked + label{
      font-weight: bold;
      padding: 10px;
      border: 4px solid #44423d;
      background-color: #ff9159;
    }
    
    #comedia + label{
      border-radius: 12px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      border: 4px solid #ff9159;
      transition: background-color 1s ease-in-out, border 1s ease !important;
    }
    
    #todos:checked + label{
      z-index: 3;
      margin-right: 405Px;
      font-weight: bold;
      padding: 10px;
      border: 4px solid #44423d;
      background-color: #ff9159;
    }
    label{
      cursor:pointer;
  
    }
    label:hover{
      transform: translateY(-10%) !important;
    }
  
    #todos + label{
      border-radius: 12px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      border: 4px solid #ff9159;
      transition: background-color 1s ease-in-out, border 1s ease, margin-right 2s ease !important;
    }
    
    
    #filtros:has(input#comedia:checked) ~ .filmes #filme4,
    #filtros:has(input#comedia:checked) ~ .filmes #filme5,
    #filtros:has(input#comedia:checked) ~ .filmes #filme6 {
      display: inline;
    }
    
    #filtros:has(input#aventura:checked) ~ .filmes #filme10,
    #filtros:has(input#aventura:checked) ~ .filmes #filme7,
    #filtros:has(input#aventura:checked) ~ .filmes #filme8,
    #filtros:has(input#aventura:checked) ~ .filmes #filme9 {
      display: inline;
    }
    
    #conteudo{
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    
    header{
      background-color: #fff9ea;
      z-index: 10;
      position: sticky;
      top: 0;
      width: 100%;
      padding: 14px;
    }
    #navbar{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #nav_list{
      display: flex;
      gap: 48px;
      list-style: none;
    }
    .nav-item a{
      transition: 0.2s ease;
      text-decoration: none;
      font-weight: 600;
      color: #1d1d1dad;
    }
    .nav-item{
      transition: 0.2s ease;
    }
    .nav-item:hover{
      transform: translateY(-10%);
    }
    .nav-item.active a{
      color: #1d1d1d;
      border-bottom: 3px solid #ff9159;
    }
    .btn{
      color: white;
      border: none;
      display: flex;
      align-items: center;
      background-color: #44423d;
      border-radius: 12px;
      padding: 10px 14px;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
      transition: background-color .3s ease;
    }
    .btn:hover{
      cursor: pointer;
      color: white;
      border: none;
      display: flex;
      align-items: center;
      background-color: #67655f;
    }
  
    .card{
      color: white;
      width: 400px;
      aspect-ratio: 1 / 0.7;
      border-radius: 12px;
      position: relative;
      cursor: pointer;
    }
  
    .card .img-card{
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  
    .card .img-card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      transition: 0.5s ease-in-out;
    }
  
    .card::after{
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid white;
      border-radius: inherit;
      opacity: 0;
      transition: 0.4s ease-in-out;
    }
  
  
    .card:hover img{
      filter: grayscale(1) brightness(0.4);
    }
  
    .card:hover::after{
      opacity: 1;
      inset: 20px;
    }
    
    .content{
      transition: transform 1.2s ease;
      position: absolute;
      width: 80%;
      top: 100%;
      left: 100%;
    }
  
    .card:hover .content{
      transform: translate(-110%, -140%);
    }
  
    footer{
      margin-bottom: 0 auto;
      background-color: #ff9159;
  }
  
  #itens-footer{
      display: flex;
      justify-content: space-between;
      padding: 0px 8% 24px;
      align-items: center;
  }
  #copyright{
      color: #1d1d1d;
      font-weight: 500;
  }
  .social-media-buttons{
      display: flex;
      gap: 18px;
  }
  .social-media-buttons a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 40px;
      background-color: #fff;
      font-size: 1.25rem;
      border-radius: 10px;
      text-decoration: none;
      color: #1d1d1d;
      box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
      transition: box-shadow .3s ease;
  }
  .social-media-buttons a:hover{
      box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
  }
  img, a{
    user-select: none;
    -webkit-user-drag: none;
    
  }