body {
    font-family: sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #030b12;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    align-items: center;
    background-color: rgb(18, 2, 145);
}

#entrar {
    width: 90px;
    font-size: x-large;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
}

#entrar:hover {
    transform: scale(1.02);
    opacity: 0.7;
    cursor: not-allowed;
}

input {
    height: 34px;
    width: 300px;
}

main {
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
}

img {
    border-radius: 7px;
}

section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.botaoSobre:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.02);
    color: red;
}
.botaoSobre{
    margin-right: 5px;
}
.textoSobreMim{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
#textoSobreMim{
    width: 500px;
    align-content: center;
}
.curiosidades{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
a:hover{
    color: red;
}
a{
    color: white;
    font-size: large;
}
.lugares{
    display: flex;
    justify-content: space-around;
}
#lugaresConheco{
    margin-right: 120px;
}